<a href="https://colab.research.google.com/github/aastha78/Regression/blob/main/Ridge_and_Lasso_Regularization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

# New section

In [7]:
df = pd.read_csv('Melbourne_housing_FULL.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [8]:
df.nunique()

Suburb             219
Address          14297
Rooms               11
Type                 3
Price             2018
Method               9
SellerG            243
Date                43
Distance           153
Postcode           150
Bedroom2            12
Bathroom            10
Car                 11
Landsize          1340
BuildingArea       506
YearBuilt          150
CouncilArea         31
Lattitude         2628
Longtitude        3122
Regionname           8
Propertycount      216
dtype: int64

In [9]:
df.shape

(14523, 21)

In [10]:
col = ['Suburb',
 'Address',
 'Rooms',
 'Type',
 "Price",
 'SellerG',
 'Distance',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'CouncilArea',
 'Regionname',
 'Propertycount']

In [11]:
df = df[col]
df.head()

,Suburb,Address,Rooms,Type,Price,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0

In [12]:
df.isna().sum()

Suburb              0
Address             1
Rooms               1
Type                1
Price            3214
SellerG             1
Distance            1
Bedroom2         3099
Bathroom         3099
Car              3099
Landsize         3116
BuildingArea     8254
CouncilArea         1
Regionname          1
Propertycount       1
dtype: int64

In [13]:
col_zero = ['Bedroom2','Bathroom','Car','Propertycount','Distance']

In [14]:
df[col_zero]= df[col_zero].fillna(0)

In [15]:
df.isna().sum()

Suburb              0
Address             1
Rooms               1
Type                1
Price            3214
SellerG             1
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize         3116
BuildingArea     8254
CouncilArea         1
Regionname          1
Propertycount       0
dtype: int64

In [16]:
df['Landsize'] = df['Landsize'].fillna(df.Landsize.mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df.Landsize.mean())

In [17]:
df.isna().sum()

Suburb              0
Address             1
Rooms               1
Type                1
Price            3214
SellerG             1
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         1
Regionname          1
Propertycount       0
dtype: int64

In [18]:
df.dropna(inplace=True)

In [19]:
df.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [20]:
df = pd.get_dummies(df,drop_first=True)

In [21]:
df

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2.0,1480000.0,2.5,2.0,1.0,1.0,202.000000,472.789165,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
2,2.0,1035000.0,2.5,2.0,1.0,0.0,156.000000,79.000000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
4,3.0,1465000.0,2.5,3.0,2.0,0.0,134.000000,150.000000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
5,3.0,850000.0,2.5,3.0,2.0,1.0,94.000000,472.789165,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
6,4.0,1600000.0,2.5,3.0,1.0,2.0,120.000000,142.000000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14517,4.0,1720000.0,14.2,4.0,2.0,3.0,741.000000,472.789165,13366.0,0,...,0,0,0,0,0,0,0,0,0,0
14518,5.0,1600000.0,14.2,5.0,3.0,3.0,728.000000,472.789165,13366.0,0,...,0,0,0,0,0,0,0,0,0,0
14519,3.0,944000.0,14.2,3.0,1.0,1.0,446.000000,472.789165,13366.0,0,...,0,0,0,0,0,0,0,0,0,0
14520,3.0,1385000.0,14.2,3.0,1.0,2.0,807.000000,167.000000,13366.0,0,...,0,0,0,0,0,0,0,0,0,0
14521,3.0,1280000.0,14.2,0.0,0.0,0.0,472.789165,472.789165,13366.0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
x = df.drop('Price',axis=1)
y = df.Price

In [23]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)

### Lets do Regular LinearRegression

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
reg = LinearRegression().fit(x_train,y_train)

In [26]:
reg.score(x_test,y_test)

-339.9171792162602

In [27]:
reg.score(x_train,y_train)

0.9999720598357539

In [28]:
from sklearn import linear_model

In [29]:
lasso_reg = linear_model.Lasso(alpha=50,max_iter=100,tol=0.1)  #since it adds an absolute 0 value in the training

In [30]:
lasso_reg.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.569e+14, tolerance: 3.407e+14
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

Lasso(alpha=50, max_iter=100, tol=0.1)

In [30]:
lasso_reg.score(x_test,y_test)

In [30]:
lasso_reg.score(x_train,y_train)

In [32]:
from sklearn.linear_model import Ridge

In [33]:
ridge_reg = Ridge(alpha=50,max_iter=100,tol=0.1)

In [34]:
ridge_reg.fit(x_train,y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [35]:
ridge_reg.score(x_test,y_test)

0.6626425485496152

In [36]:
ridge_reg.score(x_train,y_train)

0.6851837729839667